/*font-family: 'Cinzel', serif;
font-family: 'Playfair Display SC', serif;*/
html{
    box-sizing: border-box;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}
*, *:before, *after{
    box-sizing: inherit;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
    text-decoration: none;
    color:white;
}
body{ scroll-behavior: smooth;}
/*Barra de navegacion*/
nav{
    display:flex;
    align-items:center;
    justify-content: center;
    position:fixed;
    top:0;
    z-index: 3;
    width:100%;
    min-height: 7%;
    background-color:#262626;
}
    /*nav->Lista Botones*/
nav>.barra-navegador{
    width:90%;
    padding:5px;
}
.barra-navegador>.lista-botones{
    width:60%;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
}
.barra-navegador>.lista-botones>.nav-boton{
    display:inline-block;
    font-size:90%;
    margin: 5px 20px;
    transition: transform 0.7s ease;
}
.nav-boton>a{
    color:#767676;
    transition: color .3s ease;
}
.nav-boton>a:hover{
    color: rgb(102,102,165);
}
    /*nav->Boton unico*/
.boton-opciones{
    visibility:hidden;
    background-image:url("menu.svg");
    background-position: center;
    background-size:cover;
    position:fixed;
    width:30px;
    height:30px;
    left:1rem;
    top:1rem;
}
    /*nav->menu de opciones Boton unico */
.menu-boton-opciones{
    visibility:hidden;
    display:none;
    background-color:rgba(0, 0, 0, .8);
    width:100%;
    height:0;
    transition: height 1s ease;
    align-items:center;
    justify-content: center;
}
.menu-boton-opciones-pulsado{
    height:100vh;
}
        /*Menu opciones-> Lista de opciones movil*/
.lista-botones-mobile{
    height: 50%;
    width:70%;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items:center;
    /*background-color: rgba(0, 0, 0, .4);*/
    border-radius:10px;
}
.lista-botones-mobile>.mobile-boton{
    display:none;
    visibility:hidden;
    justify-content: center;
    align-items: center;
    height: 20%;
    width:fit-content;
    border-radius:20px;
    /*background-color:rgba(38,38,38, 0.5);*/
}
.lista-botones-mobile>li.mobile-boton-pulsado{
    display:flex;
    visibility:visible;
}
.mobile-boton-pulsado>a.mb-boton-ancla{
    background-color:rgba(255, 255, 255, 0.2);
    border-radius:20px;
    border:2px solid white;
    padding:1rem;
}
/*nav->Ajustar tamaño para hacerlo responsive*/
@media screen and (max-width:800px){
    nav{
        visibility:hidden;
    }
    .barra-navegador{
        display:none;
        visibility: hidden;
    }
    .boton-opciones{
        visibility:visible;
    }
    .menu-boton-opciones{
        visibility:visible;
        display:flex;
    }

}

/*Header*/
.fondo-principal-cabecera{
    width:100%;
    height:100vh;
    background-image:url(fondo-cabecera.jpg);
    background-size:cover;
    background-position: center;
}
    /*Header->Filtro*/
.fondo-principal-cabecera>.capa-filtro{
    background-color: rgba(0, 0, 175, 0.5);
    height: 100%;
    width: 100%;
}
.capa-filtro>article{
    position:relative;
    top: 40%;
    color:white;
}
.capa-filtro>article h2{
    font-size: 250%;
    font-weight:bold;
    font-family: 'Playfair Display SC', serif;
    margin-bottom:1rem;
}
/*Primer Fondo*/
section.primer-fondo{
    background-color:#f3f3f3;
    min-height: fit-content;
    padding: 4% 0;
    width:100%;
}
.fondo-primero-habilidades{
    height: fit-content;
    min-height:90vh;
    display:flex;
    width:95%;
    flex-flow: row wrap;
    align-items:stretch;
    justify-content: space-around;
    margin:0 auto;
}
    /*Primer-fondo-> Titulo*/
.contenedor-titulo{
    width:100%;
    /*margin-top: 4%;*/
}
.contenedor-titulo>h2{
    font-size:40px;
    font-family: 'Cincel', serif;
    text-transform: uppercase;
    margin-bottom:-.8rem;
}
.contenedor-titulo>hr{
    display: block;
    margin: 1rem auto;
    width:10%;
    border-style: inset;
    border-width: 1px;
}
    /*Primer-fondo-> Habilidades*/
.contenedor-habilidades{
    min-height: fit-content;
    width:33%;
}
.contenedor-habilidades>header>img{
    width:110px;
    margin:10px;
}
.contenedor-habilidades>article{
    text-align:center;
    width:95%;
    margin:0 auto;
    padding:2px;
    border-top:1px solid  #b6b6b6;
    display:flex;
    flex-direction: column;
}
.contenedor-habilidades>article>h3{
    line-height: 1.6rem;
    font-size:130%;
    margin:10px;
}
.contenedor-habilidades>article>#titulillo{
    margin:10px;
    font-size:110%;
    font-weight: 900;
}
.contenedor-habilidades>article>#texto{
    margin-top:1rem;
    color:#767676;
}
    /*Primer-fondo->Responsive*/
@media only screen and (max-width:800px){
    .fondo-primero-habilidades{
        width:90%;
    }
    .contenedor-habilidades{
       width:100%;
       min-height: fit-content;
       margin:4% 0;
    }
    .contenedor-titulo{
        order:1;
    }
    .habilidad1{
        order:3;
    }
    .habilidad2{
        order:2;
    }
    .habilidad3{
        order:4;
    }   
}
/*Segundo Fondo*/
section.segundo-fondo{
    min-height: fit-content;
    height:100vh;
    width:100%;
    background-image:url("fondo-lista-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.fondo-segundo-proyectos{
    min-height: fit-content;
    width:90%;
    margin:0 auto;
}
    /*Segundo Fondo->Titulo-proyectos*/
.titulo-proyectos{
    position:relative;
    top:0;
    background-color:#262626;
    width:fit-content;
    padding:10px;
    border-right:2px solid yellow;
    border-left:2px solid yellow;
    box-shadow:0 2px 6px 2px rgba(0, 0, 0, 0.5);
    margin:0 auto 1rem auto;
    /*border-bottom:2px solid yellow;*/
}
.titulo-proyectos>h2{
    color:white;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
}
    /*SEgundo Fondo->Lista-proyectos*/
.lista-proyectos{
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    align-content: center;
    align-items:stretch;
    flex-flow:row wrap;
    width:90%;
}
        /*Lista-proyecto --> proyecto*/
.proyecto{
    position:relative;
    width:30%;
    height:200px;
    margin: 25px 5px;
    box-shadow: 0 30px 14px -14px rgba(0, 0, 0, .6);
    border: 4px solid rgba(0, 0, 0, .4);
    transition:transform 0.5s ease,
                box-shadow .5s ease;
}
.proyecto:hover{
    transform: translateY(-10px);
    box-shadow: 0 45px 20px -30px rgba(0, 0, 0, .4);
}
            /*Proyecto ---> Filtro/Overlay*/
.proyecto>.filtro-proyecto{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position:absolute;
    padding:10px;
    width:100%;
    height:100%;
    opacity:0;
    background-color: rgba(0, 110, 175, .5);
    transition: opacity 0.5s ease;
    z-index: 1;
    color:white;
}
.proyecto>.filtro-proyecto:hover{
    opacity:1;
    transition: opacity 0.5s ease;
    transition-delay: .5s;
}
.proyecto>.filtro-proyecto>.boton-link-proyecto{
    color:rgba(255, 255, 255, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    width:40%;
    height:15%;
    border:2px solid rgba(255, 255, 255, 0.5);
    transition: color 0.5s ease,
                border 0.5s ease,
                transform .5s ease;   
}
.proyecto>.filtro-proyecto>.boton-link-proyecto:hover{
    color:white;
    border:2px solid white;
    transform:scale(1.1);
}
            /*Proyecto ---> Imagen del proyecto*/
.proyecto>.imagen-proyecto{
    width:100%;
    height: 100%;   
    overflow: hidden;
}
.proyecto>.imagen-proyecto>img{
    width:100%;
    height: 100%;
    transition:transform 0.5s ease;
    z-index: 10;
}
.proyecto:hover>.imagen-proyecto>img{
    transform: scale(1.1);
}
    /*Segundo Fondo -> Responsive*/
@media only screen and (max-width: 1000px){
    .proyecto{
        width:40%;
    }
    .lista-proyectos{
        justify-content: space-around;
    }
}
@media only screen and (max-width:800px){
    .proyecto{
        width:100%;
        height:auto;
    }
    .lista-proyectos{
        align-items:center;
        flex-direction: column;
    }
    .proyecto>.imagen-proyecto{
        height: 250px;
    }
}
/*Tercer Fondo*/
section.tercer-fondo{
    height:fit-content;
    width:100%;
    display:flex;
    align-items: center;
    background-color: #161616;
    padding-bottom: 2rem;
}
    /*Tercer Fondo-> Informacion Personal*/
.informacion-personal{
    background-color:#161616;
    width:100%;
    height: fit-content;
    padding:2rem 0;
    display:flex;
    justify-content: space-around;
}
        /*Informacion-Personal -> Columnas*/
.columna-informacion{
    min-height: 50vh;
    width:45%;
    display:flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items:center;
    background-color:#262626;
    box-shadow:0 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.columna-informacion>.caja-informacion{
    margin: 20px 0;
    min-height:fit-content;
    height:3rem;
    width:90%;
    background-color:#161616;
    display:flex;
    align-items:center;
}
.columna-informacion>.cj-info-izq{
    border-right:2px solid yellow;
    transform:translateX(-100%);
    transition: transform 1s cubic-bezier(0.2,-0.37, 0.13, 1.23);
    text-align:left;
    padding-left:1rem;
}
.columna-informacion>.cj-info-der{
    border-left:2px solid yellow;
    transform:translateX(100%);
    transition: transform 1s cubic-bezier(0.2,-0.37, 0.13, 1.23);
    text-align: right;
    padding-right: 1rem;
}
.caja-informacion.mostrar-cj{
    transform: translateX(0);
}
.caja-informacion>p{
    padding:5px;
    color:white;
}
.caja-informacion>p>label{
    color:yellow;
}
@media only screen and (max-width:800px){
    .informacion-personal{
        flex-flow: column nowrap;
    }
    .columna-informacion{
        width:100%;
        height:50%;
        margin:1rem;
    }
}
